@font-face {
    font-family: 'Helvetica Neue thin';
    src: local('Helvetica Neue Thin'), local('Helvetica-Neue-Thin'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue light';
    src: local('Helvetica Neue light'), local('Helvetica-Neue-light'),
        url('../fonts/HelveticaNeueCyr-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --selected-text-color: #3D5946;
    --main-text-color: #181818;
}

.header {
    width: 100%;
    padding: 22px 0;
    font-family: 'Helvetica Neue light', sans-serif;
    position: relative;
}

.header>.container {
    display: flex;
    justify-content: space-between;
}

.header-text>p {
    font-size: 18px;
    letter-spacing: 2.8px;
    color: var(--selected-text-color);
    position: relative;
    margin-left: 20px;
}

.header-text>p::before {
    content: "";
    width: 19px;
    height: 28px;
    position: absolute;
    left: -20px;
    bottom: 0;
    background-image: url("../img/icons/main-text-logo.png");
}

.header-text>p::after {
    content: "";
    position: relative;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 19px;
    height: 28px;
    transform: scale(-1, 1);
    background-image: url("../img/icons/main-text-logo.png");
}

.burger-menu-icon {
    font-size: 25px;
    color: rgb(167, 158, 158);
    position: relative;
    bottom: 3px;
    margin-right: 15px;
    width: 23px;
    height: 23px;
}

.header-menu {
    display: none;
}

.header-menu.active {
    display: block;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #fff;
    width: 100vw;

}

.header-menu.active>.header-menu-item {
    font-size: 20px;
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.header-menu.active>.header-menu-item:last-child {
    margin-bottom: 0;
}

.header-menu-item {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 71px;
}

.header-menu-item:nth-child(2)::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f0d7";
    margin-left: 7px;
}

.header-menu-item:last-child {
    margin-right: 65px;
}

.header-icons {
    display: inline-block;
}

.header-icons img {
    cursor: pointer;
    margin-right: 37px;
}

@media(max-width: 320px) {
    .header-icons img {
        display: none;
    }
}

@media(min-width: 900px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .header {
        width: 100vw;
    }

    .header-text>p {
        font-size: 26px;
    }

    .header-menu {
        display: inline-block;
    }

    .burger-menu-icon {
        display: none;
    }

    .header-icons img:nth-child(2) {
        margin-right: 0;
    }
}